/* Quiz styles */
//Variables
$bgcolor: aliceblue;
$basefont: sans-serif;
$leftmargin: 50px;
$padding: 10px;
@mixin border-radius($radius) {
          border-radius: $radius;
}
@mixin border($border) {
  border: $border;
}

header {
    @include border(2px solid #064277);
    @include border-radius(20px);
    margin: 10px auto;
    padding: $padding;
    background-color: $bgcolor;
    text-align: center;

    h1 {
        color:#58a0e0;
    }

    h2 {
        color: #064277;
    }
}

body {
    width: 600px;
    margin: auto;
    font-family: $basefont;
    font-size: 1em;
    font-style:oblique;
    background-color: #dadadb;
}

#content {
    @include border(2px solid #064277);
    @include border-radius(20px);
    margin: 10px auto;
    padding: $padding;
    background-color: $bgcolor;
}

#list{
    @include border(2px solid #064277);
    @include border-radius(20px);
    background-color: aliceblue;

    h3 {
        margin-left: $leftmargin;
        color:#58a0e0
    }

    ul{
        margin-left: $leftmargin;
    }
}

p{
    font-family: serif;
    font-style:normal;

    .samplepara {
        @include border(3px solid #58a0e0);
        @include border-radius(20px);
        padding: $padding;
        background-color: white;
    }
}

footer {
    @include border(2px solid #064277);
    @include border-radius(20px);
    margin: 10px auto;
    padding: $padding;
    background-color: $bgcolor;

    #footer {
        font-size: .75em;
        font-style:italic;
        font-weight: bold;
        color: #064277;
        text-align: center;
    }
}


